<div class="container">
	<div class="head">
		<h1 class="text-center">Une liste de restos cools</h1><button class="btn btn-default"><%= link_to 'Add', new_restaurant_path %></button>
	</div>
	<hr>

	<div class="row">
		<% @restaurants.each do |restaurant| %>
	
			<div class="jumbotron">
  			<h3 class="display-4"><%= restaurant.name %></h3>
  			<p class="lead"><%= restaurant.category.capitalize %> restaurants</p>
  			<img class="card-img-top" src="http://lorempicsum.com/futurama/627/300/4" alt="Card image cap">
  			<hr class="my-4">
  
 				<p class="lead">
  				<small class="text-muted">Address : <%= restaurant.address %></small>
  				<br>
		
					<small class="text-muted">Phone : <%= restaurant.phone_number %></small>
					<br>
					<hr>
					<a class="btn btn-default btn-lg" role="button"><%= link_to 'Visit us', restaurant_path(restaurant) %></a>
  			</p>
			</div>
		<% end %>
	</div>
</div>






